<h1>当サイトご利用にあたって</h1>

<p>
  SyllabusPlusをご利用いただきありがとうございます．<br>
  当サイトをご利用の際には，以下の利用規約が適用されますので，ご利用の際には必ずお読みください．
</p>
<hr>
<h3>本利用規約について</h3>
<ul>
  <li>本利用規約は当サイトの利用条件を定めるものです．当サイトをご利用される際には，本規約に同意したものとみなされます．</li>
  <li>当サイトでは，相当の事由があると判断した場合には，利用者の事前の承諾を得ることなく本利用規約をいつでも変更することができるものとします．</li>
  <li>変更後の本利用規約は，当サイトに表示した時点より効力を生じるものとし，また，効力が生じた後，当サイトを利用される場合には変更後の本利用規約に同意したものとみなされます．</li>
</ul>

<h3>当サイトのサービス提供の中断，変更等</h3>
<ul>
  <li>管理者が必要と判断した場合には，事前に通知することなく当サイトの内容の変更，または提供の停止・中止することができるものとします．</li>
</ul>

<h3>免責事項</h3>
<ul>
  <li>利用者は利用者自身の自己責任において当サイトを利用するものとし，当サイトを利用してなされた一切の行為およびその結果についてその責任を負うものとします．</li>
  <li>当サイトは当サイトの利用により発生した利用者の損害については，一切の賠償責任を負いません．</li>
</ul>

<br><br>
2017年3月15日：施行
<br><br>
