<h1>ご利用にあたっての注意事項</h1>
<p>
  SyllabusPlusをご利用いただきありがとうございます．<br>
  当サイトをご利用の際には以下の注意事項をよく読んだ上でご利用ください．<br>
  また，合わせて<%= link_to "利用規約", agreement_path, target: :_blank %>もお読みください．
</p>
<hr>
<h3>当サイトは大学公式のサイトではございません</h3>
<p>
  当サイトは大学の情報を参考に，個人で運営されているサイトです．<br>
  公式のサイトではございませんので，ご注意ください．
</p>

<h3>自己責任でご利用ください</h3>
<p>
  当サイトに記載されている情報は誤りを含む場合がございます．<br>
  当サイトを利用される際には，<strong>情報に誤りがないかしっかりと確認した上</strong>で，<strong>自己責任で</strong>ご利用ください．
</p>

<h3>学校のPCでご利用の際にはデータは削除されます</h3>
<p>
  当サイトでは科目のストック情報等はブラウザに保存しています．<br>
  <strong>学校のPCではシャットダウン時にすべて削除されてしまいます</strong>ので，情報を残しておきたい場合にはメモを取るなどご自身で管理いただきますようお願いします．
</p>

<h3>ブラウザに保存する情報について</h3>
<p>
  当サイトでは，Cookieを利用してブラウザに情報を保存しております．<br>
  保存する情報は，ユーザ識別子・選択済み学部情報・ストック科目・時間割が含まれます．<br>
  個人情報等は含まないものの，他人のPCで利用しない等，扱いにはご注意ください．<br>
</p>

<h3>広告について</h3>
<p>
  当サイトでは一部広告を表示させていただいております．<br>
  これは当サイトを保守・運用していくために必要なものですのでご理解いただけますと幸いです．
</p>

<h3>ご意見・ご要望など</h3>
<p>
  ご意見・ご要望などございましたら，お手数ですが<%= link_to "Twitter", "https://twitter.com/SyllabusPlus", target: :_blank %>よりお願いします．<br>
  こういった機能を追加して欲しい，ここの動作がおかしい等どんどんお待ちしております．<br>
  ただし，出来る限り対応させていただきますが，必ずしも対応できるとは限りませんのでご理解ください．
</p>
