<h1>よくある質問</h1>
<ol>
  <li class="question">
    <div>
      <h3>表示されている成績評価基準は元データとはどう違うか</h3>
      <p>表示されているデータはある科目のこれまでの数年分のデータをふまえた統計結果です．</p>
    </div>
  </li>
  <li class="question">
    <div>
      <h3>目当ての科目が検索結果に表示されない</h3>
      <p>
        ローマ数字(I, Vなど)はアルファベットのI(i)，V(v)で検索してください．
        空白区切りでの検索はできませんので，注意してください．
        それでも見つからない場合はデータが無い場合があります．大学のサイトで検索してみてください．
      </p>
    </div>
  </li>
</ol>
