<h1>よくある質問</h1>
<ol>
  <li class="question">
    <div>
      <h3>表示されている成績評価基準と元データはどう違うか</h3>
      <p>
        表示されているデータはある科目のこれまでの数年分のデータをふまえた統計結果です．
        最新のデータだけを使っているわけではなく，昔のデータも踏まえた上で平均点を算出しています．
        最新の詳細な数値を知りたい方はお手数ですが，大学のサイトにてご確認ください．
      </p>
    </div>
  </li>
  <li class="question">
    <div>
      <h3>表示されている内容がシラバスと違う</h3>
      <p>
        このサイトで使用しているデータは自動で収集したもので，一部間違いを含む場合もあります．
        ご利用の際にはその点を十分理解した上でご利用ください．
        また，間違いを見つけた場合にはお手数ですが，<%= link_to "こちら", contact_path %>よりご一報いただければ幸いです．
      </p>
    </div>
  </li>
  <li class="question">
    <div>
      <h3>目当ての科目が検索結果に表示されない</h3>
      <p>
        ローマ数字(I, Vなど)はアルファベットのI(i)，V(v)で検索してください．
        空白区切りでの検索はできませんので，注意してください．
        それでも見つからない場合はデータが無い場合があります．大学のサイトで検索してみてください．
      </p>
    </div>
  </li>
  <li class="question">
    <div>
      <h3>この機能が使いにくい・この機能がほしい</h3>
      <p>
        貴重な意見ですので，ぜひ<%= link_to "こちら", contact_path %>にて教えてください！
        出来る限り迅速に対応させていただこうと思います！（対応できないものもあります）
      </p>
    </div>
  </li>
</ol>

<br>
