<h1>使い方</h1>
<div class="usage">
<p>※本サイトはPC向けに作成したものです</p>
<p>ホーム画面より，検索したい科目がある学部を選択してください．</p>
<%= image_tag("usage/select_faculty.png", alt: "学部を選択する", width: "250px",  class: "usage_image") %>
<p>学部に対応する科目の一覧が表示されます．</p>
<%= image_tag("usage/all_subjects.png", alt: "科目の一覧", width: "60%", class: "usage_image") %>
<p>一覧ページでできることは以下．</p>
<ul class="usage-ul">
<li>項目のソート：降順，昇順に並び替えることができます．</li>
<li>表示件数の変更：10, 25, 50, 100から選択できます．</li>
<li>検索：科目名，科目コードで検索できます．</li>
<li>年度ごとの成績分布の表示：左部分の+マークをクリックして各年度の成績分布を表示できます．</li>
<li>
  シラバスへのリンク：科目名（年度別では年度）をクリックしてシラバスへ飛ぶことができます．
  <br>
  <%= image_tag("usage/all_subjects_selected.png", alt: "年度ごとの詳細表示", width: "60%", class: "usage_image") %>
</li>
</ul>

<h3>使い方がわからない，動作がおかしい，などあれば<%= link_to "Twitter", "https://twitter.com/SyllabusPlus", target: :_blank %>でお伝え下さい．</h3>
<br>

</div>
