<div class="modal" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span>
          </button>
          <h4 class="modal-title">Static Modal タイトル</h4>
        </div><!-- /modal-header -->
        <div class="modal-body">
          <p class="recipient">本文</p>
          <p>
            <a class="btn btn-info" href="#001" data-dismiss="modal">data-dismiss 有り</a>
            <a class="btn btn-info" href="#002">data-dismiss 無し</a>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          <button type="button" class="btn btn-primary">変更を保存</button>
        </div>
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
  </div> <!-- /.modal -->

<!-- 5.モーダルのボディ -->
<!-- <div class="modal-body">
  <h1>科目の時間を確認</h1>
  <p>
    選択した科目を時間割に追加します．時間を指定してください．
  </p>
  <p>デフォルト<br>
    <input type="radio" name="q1" value="はい"> はい
    <input type="radio" name="q1" value="いいえ"> いいえ
  </p>
</div> -->
