<h1>SyllabusPlus</h1>
<h3>同志社大学の学生のための履修支援サービス</h3>

<hr>
<p>科目の成績分布（A率，F率等）を一覧で見ることができ，シラバスへ簡単に飛ぶことができます．（PC推奨）</p>
<ul>
<li>使い方がわからない方は<%= link_to "こちら", usage_path  %></li>
<li>問い合わせは<%= link_to "Twitter", "https://twitter.com/SyllabusPlus", target: :_blank %>より</li>
</ul>

<div id="stock-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div class="checkbox-control-area">
  <button type="button" class="checkbox-control-text btn btn-default" onclick="control_checkbox_visible();">学部一覧を閉じる</button>
  <div class="checkbox-control" status="open" style="display: block">
    <h3>検索する学部を選んでください</h3>
    <ul class="faculties">
      <label><input type="checkbox" id="all_faculty_ckb" value="all" onclick="clicked(this);" />すべての学部</label>
      <%= render @faculties %>
    </ul>
  </div>
</div>

<table id="subjects" class="table table-striped table-bordered subjects display responsive no-wrap">
  <thead>
    <tr>
      <th></th>
      <th>科目名</th>
      <th>科目コード</th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>F</th>
      <th>平均評点</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>load_table();</script>
