<h1>SyllabusPlus</h1>
<p>科目の成績分布（A率，F率等）を一覧で見ることができ，シラバスへ簡単に飛ぶことができます．</p>
<h3>あなたの学部を選んでください</h3>

<%= will_paginate %>

<ul class="faculties">
  <%= render @faculties %>
</ul>

<%= will_paginate %>
