<% provide(:title, 'Subjects') %>
<h1>Subjects in <%= @faculty.name %></h1>

<%= will_paginate @subjects %>

<table class="subjects">
  <tr>
    <th>科目名</th>
    <th>科目コード</th>
  </tr>
  <%= render @subjects %>
</table>

<%= will_paginate @subjects %>
