<h1><%= @faculty.name %>の科目一覧</h1>

<%= will_paginate @subjects %>

<table class="subjects">
  <tr>
    <th>科目名</th>
    <th>科目コード</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>F</th>
    <th>平均評点</th>
  </tr>
  <% @subjects.each do |subject| %>
    <%= render partial: 'subjects/subject', locals: {subject: subject} %>
  <% end %>
</table>

<%= will_paginate @subjects %>
