<h1><%= @faculty.name %>の科目一覧</h1>
<table id="subjects" class="display subjects" data-source="<%= faculty_url(id: @faculty.id, format: "json") %>">
  <thead>
    <tr>
      <th>科目名</th>
      <th>科目コード</th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>F</th>
      <th>平均評点</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
