@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// for sticker nav bar
#sticker-sticky-wrapper {
  position: relative;
  z-index: 10;
}


// for usage page
.usage_image {
  border: 1px solid gray;
  margin: 10px 10px 10px 10px;
}

.notice {
  background-color: #f5f5f5;
  color: red;
  padding: 15px;
  p {
    margin: 0;
  }
}

// for select faculties
.checkbox-control-text {
  margin: 10px 10px 10px 10px;
}

.checkbox-control-area {
  padding-bottom: 20px;
}

.checkbox-control {
  padding: 10px 10px 10px 10px;
  background-color: #f5f5f5;
}

.faculties {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 0 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

// for checkbox term
.term_ckb-label {
  padding: 5px;
}


// for modal
.modal-content {
  padding: 10px 10px 10px 10px;
  text-align: center;
  width: 60%;
  margin: auto;
}

.modal-form {
  p {
    margin: 0;
  }
}

.modal-error-field {
  width: 50%;
  background-color: #f5f5f5;
  color: red;
  margin: auto;
}

.modal-table {
  margin: auto;
}



// for datatables
.stock-button {
  padding: 1px 0 1px 0;
  width: 60px;
}

// for datails of subject
.year_data {
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
}

.detail-table::before {
  content: none !important;
}

.my-button::before {
  content: none !important;
}

// for open and close datail
td.my-button {
    background: image-url('open.png') no-repeat center;
    background-size: 15px 15px;
    cursor: pointer;
}
tr.shown td.my-button {
    background: image-url('close.png') no-repeat center;
    background-size: 15px 15px;
}


// for google adsense
.adsense1 {
  width: 200px;
  height: 200px;
}


// for stocked subjects page
.stocked_table {
  border-collapse: collapse;
  border-spacing: 5px;
  width: auto;
  tr {
    border-bottom: 1px #eee solid;
    
  }
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
  .subject_name {
    width: 150px;
  }
  .subject_name-data {
    text-align: left;;
  }
  .score {
    text-align: center;
    width: 50px;
  }
  .mean-score {
    text-align: center;
    width: 60px;
  }
  .credit {
    text-align: center;
    width: 60px;
  }
  .delete-stock-button {
    margin: 5px;
  }
  .credit-td {
    display: none;
  }
}

.sum-credit {
  padding: 10px;
}

.delete-all-stock {
  padding: 10px 10px 10px 10px;
}

// for schedule table
table.tmo_ctt {
  border: solid gray 2px;
  border-collapse: collapse;
  width: auto;
  margin: 20px;
  th {
    border: solid gray 1px;
    padding: 4px;
    width: auto;
  }
  th.week {
    width: 150px;
    text-align: center;
  }
  th.time {
    height: 50px;
    max-height: 100px;
    text-align: center;
  }
  td {
    border: solid gray 1px;
    padding: 4px;
    width: auto;
  }
}

table.spring-term {
  th {
    background: #F7C8CE;
  }
}

table.autumn-term {
  th {
    background: #F39800;
  }
}

// for subject derail
.canvas {
  margin: auto;
  width: 80%;
}

.detail-other {
  text-align: right;
  span {
    margin: 5px;
  }
}
// for amazon link
.book-list {
  list-style: none;
}

.list-icon {
  margin: 5px;
}

.search-icon {
  margin: 5px;
}

.notice-new-student {
  background-color: #f5f5f5;
  padding: 15px;
  p {
    margin: 0;
  }
}

.notice-newe-student-text {
  color: red;
}
