@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Articles index */

.faculties {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.subjects {
  th {
    text-align: center;
  }
  td {
  }
  .subject_name {
    width: 200px;
  }
  .score {
    text-align: center;
    width: 60px;
  }
}

.year_data {
  th {
    text-align: center;
    width: 60px;
  }
  td {
    text-align: center;
  }
}


td.details-control {
    background: image-url('open.png') no-repeat center center;
    background-size:contain;
    cursor: pointer;
}
tr.shown td.details-control {
    background: image-url('close.png') no-repeat center center;
    background-size:contain;
}
